*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto;
  width: 55vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rebeccapurple;
}

button {
  border: none;
  background-color: inherit;
}

input[name=listInput] {
  padding: 12px 10px;
  border: 1px solid rebeccapurple;
}

input[type=checkbox] {
  margin-right: 8px;
}

ul {
  list-style-type: none;
}

li {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rebeccapurple;
}

.clear {
  width: 100%;
  padding: 12px 10px;
  text-align: center;
  border: 1px solid rebeccapurple;
}
